body {
  margin: 0;
  font-family: Poppins, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  flex-direction: row;
}
.logotxt{
  color: #00509e;
  position: absolute;
  font-weight: bold;
  font-size: 13px;
  top: 60px;
  left: 260px;
}
.home {
  display: flex;
  width: 100%;
}
#image-with-fade {
  position: relative;
  width: 1; /* Adjust as needed */
  object-fit: cover;
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  mask-repeat: no-repeat;
  mask-position: center;

  /* Makes mask area transparent */
  background-color: transparent;
}

.header {
  background-color: #00509e;
  color: white;
  text-align: center;
  width: 30%;
  height: 100vh;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: auto; /* In case content exceeds viewport */
}

.logo {
  width: 70px;
  height: 70px;
}

.header nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.psg {
  width: 100%;
}

.header h1 {
  font-size: 1.5rem;
  margin: 20px;
}

.header p {
  font-size: 1rem;
  margin: 5px 0;
}

.rightside {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 500px; /* Matches the width of the left fixed section */
  padding: 20px;
  width: 70%;
  overflow-y: auto; /* Enables scrolling for this section */
  height: 100vh;
  scrollbar-width: none;
}

section {
  padding: 20px;
  margin: 10px;
  background: white;
  border-radius: 8px;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about,
.committee,
.thrust-areas,
.registration {
  width: 400px;
  height: 300px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #00509e;
}

section p {
  margin: 10px 0;
  font-size: 1rem;
}

section ul {
  list-style: disc;
  margin: 10px 0 0 20px;
  padding: 0;
}

section ul li {
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.footer {
  background-color: #00509e;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  width: 94%;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
